/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

.wraper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

.wraper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .wraper {
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: 400px) {
    .wraper {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  .wraper .test1 {
    color: blue;
    font-size: 18px;
    padding: 30px;
    font-family: "Baloo Paaji 2", cursive;
    border: 4px dashed green;
    transition: all 0.2s ease 0.3s; }
    .wraper .test1:hover {
      color: red; }
  .wraper .test2 {
    color: green;
    font-size: 22px;
    margin: 10px 15px 40px 10px;
    font-family: 'Baloo Paaji 2', cursive;
    border: 2px solid blue;
    transition: all 0.3s linear 0.2s; }
    .wraper .test2:hover {
      color: blue; }

.box {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .box .test:first-child {
    background-color: green; }
  .box .test:nth-child(2) {
    background-color: aqua; }

@media (max-width: 768px) {
  .wraper .test1 {
    background-color: red;
    font-size: 100px;
    border: 2px solid black; } }

@media (max-width: 480px) {
  .wraper .test1 {
    font-size: 40px; } }
